.mydiv {
  background-color: green;
  color: white;
  padding: 10px;
  margin: 20px;
  width: 200px;
  border: 10px solid orange;
  box-sizing: border-box;
}
nav a {
  color: green;
}
.byline {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Comic Sans MS';
  color: red;
}


div h2 {
  color: red;
}
h2 {
  color: green;
}

