html {
  background-color: azure;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (max-width: 700px) {
}
h1 {
  text-align: center;
  font-size: 3rem;
}
#logo {
  float:left;
  width: 100px;
  margin-right: 50px;
}

.menu {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 450px) and (max-width: 615px) {
  .menu li {
    margin: 10px;
  }
}

.menu li {
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  background-color: #2B84C2;
  border-radius: 5px;
}
/* is this a comment? */
@media (max-width: 450px) {
  .menu li {
    display: block;
    width: 50%;
    margin: 5px auto;
  }
}
.menu li:hover {
  opacity: 0.9;
}
.menu li > a {
  color: white;
  text-decoration: none;
}
h2 {
  font-style: italic;
}
.tagline {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-family: Times, 'Times New Roman', serif;
}

blockquote {
  
}

blockquote cite {
  display: block;
  margin-left: 10px;
  margin-top: 8px;
}
blockquote cite::before {
  content: '—'
}

p img {
  max-width: 100%;
}
